h1 {
    color: white;
}

.movie-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.movie-card {
    width: 15vw;
    position: relative;
    transition: transform 0.25s ease;
    overflow: hidden;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card img {
    width: 100%;
}

.card-background {
    width: 15vw;
    height: 253.02px;
    background-color: white;
}

.movie-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    background-image: linear-gradient(to top, black, transparent);
    overflow: hidden;
    transition: transform 0.25s ease;
    margin: 0;
    padding: 0;
}

.movie-card:hover .movie-info {
    transform: translateY(0);
}

.movie-info h3 {
    margin: 0;
    padding: 0 1rem;
}

.rating-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.load-more-button {
    width: 15vw;
    height: 5vw;
    background-color: rgb(51, 52, 106);
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    font-family: inherit;
    font-size: 24px;
    transition: transform 0.25s ease;
    color: white;
}

.load-more-button:hover {
    transform: scale(1.1);
}

.filter-sort-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem;
}

.search-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 2rem;
}

.search-bar button {
    background-color: transparent;
    border: none;
    transition: transform 0.25s ease;
    margin: 0;
    padding-block: 0;
    padding-inline: 0;
}

.search-bar button[type="submit"] {
    background-color: rgb(51, 52, 106);
    border: none;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    color: white;
}

.search-bar button:hover {
    transform: scale(1.1);
}

.input-container {
    flex-grow: 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.2rem;
    gap: 0.2rem;
    padding: 0.4rem;
}

.input-container input {
    flex-grow: 5;
    border: none;
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;
    font-size: 16px;
    font-family: inherit;
}

.input-container input:focus-visible {
    outline: none;
}

.dropdown {
    padding: 0.4rem;
    border: none;
    font-family: inherit;
    font-size: 16px;
    border-radius: 0.2rem;
}

.dropdown:focus-visible {
    outline: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    overflow-y: scroll;
    background-color: black;
    box-shadow: 0px 10px 10px black;
}

.modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    
}

.gradient-img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, black, transparent);
}

.modal-info {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    padding-bottom: 2rem;
}

.modal-info-spacer {
    height: 70vh;
}

.modal-info h2, .modal-info p {
    padding: 0 5rem 0 2rem;
}

.runtime-release-container p {
    padding: 0;
}

.runtime-release-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 0 5rem 0 2rem;
}

