@media (max-width: 600px) {
    .movie-card {
        width: 100%;
    }

    .search-bar {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar form {
        flex-direction: column;
    }
}

.movie-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.movie-card {
    width: 15vw;
    position: relative;
    transition: transform 0.25s ease;
    overflow: hidden;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card img {
    width: 100%;
}

.movie-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    background-image: linear-gradient(to top, black, transparent);
    overflow: hidden;
    transition: transform 0.25s ease;
    margin: 0;
    padding: 0;
}

.movie-card:hover .movie-info {
    transform: translateY(0);
}

.movie-info h3 {
    margin: 0;
    padding: 0 1rem;
}

.rating-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.load-more-button {
    width: 15vw;
    height: 5vw;
    background-color: rgb(51, 52, 106);
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    font-family: inherit;
    font-size: 24px;
    transition: transform 0.25s ease;
    color: white;
}

.load-more-button:hover {
    transform: scale(1.1);
}